force-app/main/default/flows/Create_Account_Contact_Relationship-5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Child_to_Reverse_Role</name>
        <label>Assign Child to Reverse Role</label>
        <locationX>281</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>ReverseRoles</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewExistingAccountIsParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Child_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Friend_to_Reverse_Role</name>
        <label>Assign Friend to Reverse Role</label>
        <locationX>638</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>ReverseRoles</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Friend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Other_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Mobile</name>
        <label>Assign New Mobile</label>
        <locationX>238</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>NewMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_to_Reverse_Role</name>
        <label>Assign Other to Reverse Role</label>
        <locationX>760</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>ReverseRoles</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_to_Reverse_Role</name>
        <label>Assign Parent to Reverse Role</label>
        <locationX>400</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>ReverseRoles</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Parent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OriginalAccountIsParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Sibling_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sibling_to_Reverse_Role</name>
        <label>Assign Sibling to Reverse Role</label>
        <locationX>518</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>ReverseRoles</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Sibling</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Friend_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_New_Email</name>
        <label>Assing New Email</label>
        <locationX>371</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>NewEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Old_Email</name>
        <label>Assing Old Email</label>
        <locationX>372</locationX>
        <locationY>1004</locationY>
        <assignmentItems>
            <assignToReference>NewEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Email2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Old_Mobile</name>
        <label>Assing Old Mobile</label>
        <locationX>241</locationX>
        <locationY>1001</locationY>
        <assignmentItems>
            <assignToReference>NewMobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Email_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Old_Phone</name>
        <label>Assing Old Phone</label>
        <locationX>109</locationX>
        <locationY>997</locationY>
        <assignmentItems>
            <assignToReference>NewPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.PersonHomePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Mobile_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountAccounts</name>
        <label>CountAccounts</label>
        <locationX>197</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>CountAcc</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopthroughAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DuplicateCountDisplay</name>
        <label>DuplicateCountDisplay</label>
        <locationX>41</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>CountDupDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exisitng_Contact_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment</name>
        <label>ErrorAssignment</label>
        <locationX>416</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DuplicateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment_0</name>
        <label>ErrorAssignment</label>
        <locationX>681</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingRelationshipError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DuplicateAccount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment_00</name>
        <label>ErrorAssignment</label>
        <locationX>684</locationX>
        <locationY>917</locationY>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingRelationshipError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DuplicateAccount_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Phone_0</name>
        <label>New Phone</label>
        <locationX>107</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>NewPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Mobile_Updated</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Create New Contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_count_equal_0</name>
        <label>Does count equal 0?</label>
        <locationX>416</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Count_0_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountAcc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Greater_than_or_Equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountAcc</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopthroughAccounts_0</targetReference>
            </connector>
            <label>Greater than or Equal to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Updated</name>
        <label>Is Email Updated?</label>
        <locationX>302</locationX>
        <locationY>918</locationY>
        <defaultConnector>
            <targetReference>Assing_Old_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_Updated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_New_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Mobile_Updated</name>
        <label>Is Mobile Updated?</label>
        <locationX>172</locationX>
        <locationY>916</locationY>
        <defaultConnector>
            <targetReference>Assing_Old_Mobile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Mobile_UpdatedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mobile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Mobile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Phone_Updated</name>
        <label>Is Phone Updated?</label>
        <locationX>41</locationX>
        <locationY>913</locationY>
        <defaultConnector>
            <targetReference>Assing_Old_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Phone_Updated_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Phone_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result</name>
        <label>Result</label>
        <locationX>39</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Correct_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_use_this_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Phone_Updated</targetReference>
            </connector>
            <label>Correct Contact</label>
        </rules>
        <rules>
            <name>Incorrect_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_use_this_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopthroughAccounts_0</targetReference>
            </connector>
            <label>Incorrect Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Child_selected</name>
        <label>Was Child selected?</label>
        <locationX>280</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Was_Sibling_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Child_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRelationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_to_Reverse_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Friend_selected</name>
        <label>Was Friend selected?</label>
        <locationX>519</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Was_Other_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Friend_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRelationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Friend_to_Reverse_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Other_selected</name>
        <label>Was Other selected?</label>
        <locationX>638</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>GetAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Other_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRelationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Other_to_Reverse_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Parent_selected</name>
        <label>Was Parent selected?</label>
        <locationX>161</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Was_Child_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Parent_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRelationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mother</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedRelationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Father</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Child_to_Reverse_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Sibling_Selected</name>
        <label>Was Sibling Selected?</label>
        <locationX>399</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Was_Friend_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sibling_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedRelationship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sibling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sibling_to_Reverse_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account_Dynamic_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalAccount.Market__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account.Email2__c</assignToReference>
            <field>Email2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.PersonContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.PersonEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.PersonHomePhone</assignToReference>
            <field>PersonHomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.PersonMobilePhone</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account.Salutation</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PersonSalutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Roles</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Account Contact Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Family Member</label>
    <loops>
        <name>LoopthroughAccounts</name>
        <label>LoopthroughAccounts</label>
        <locationX>413</locationX>
        <locationY>351</locationY>
        <assignNextValueToReference>Account</assignNextValueToReference>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountAccounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_count_equal_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopthroughAccounts_0</name>
        <label>LoopthroughAccounts</label>
        <locationX>196</locationX>
        <locationY>449</locationY>
        <assignNextValueToReference>Account</assignNextValueToReference>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>DuplicateCountDisplay</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Contact_Relationship</name>
        <label>Create Account Contact Relationship</label>
        <locationX>674</locationX>
        <locationY>553</locationY>
        <assignRecordIdToReference>AccountPersonRelID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Reverse_Relationship</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>SelectedRelationship</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Contact_Relationship_0</name>
        <label>Create Account Contact Relationship</label>
        <locationX>684</locationX>
        <locationY>838</locationY>
        <assignRecordIdToReference>AccountPersonRelID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Reverse_Relationship_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment_00</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>SelectedRelationship</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Reverse_Relationship</name>
        <label>Create Reverse Relationship</label>
        <locationX>802</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Update_Original_Account_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ReverseContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>ReverseRoles</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Reverse_Relationship_1</name>
        <label>Create Reverse Relationship</label>
        <locationX>819</locationX>
        <locationY>833</locationY>
        <connector>
            <targetReference>Update_Original_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment_00</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ReverseContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <elementReference>ReverseRoles</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordCreates>
        <name>NewAccount</name>
        <label>NewAccount</label>
        <locationX>414</locationX>
        <locationY>558</locationY>
        <assignRecordIdToReference>AccID</assignRecordIdToReference>
        <connector>
            <targetReference>GetNewContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsParent__c</field>
            <value>
                <elementReference>NewExistingAccountIsParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>OriginalAccount.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>OriginalAccount.Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Person_Account_Record_Type</name>
        <label>Get Person Account Record Type</label>
        <locationX>155</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PersonAccountRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>23</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>OriginalAccount</outputReference>
        <queriedFields>Market__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAccounts</name>
        <label>GetAccounts</label>
        <locationX>641</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthroughAccounts</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginalAccount.Market__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Accounts</outputReference>
        <queriedFields>PersonContactId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonHomePhone</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <queriedFields>Market__c</queriedFields>
        <queriedFields>Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>23</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Account_Contact_Relationship</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ReverseContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetNewContact</name>
        <label>GetContact</label>
        <locationX>544</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Contact_Relationship</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>22</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Person_Account_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>474</locationX>
        <locationY>917</locationY>
        <connector>
            <targetReference>Create_Account_Contact_Relationship_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsParent__c</field>
            <value>
                <elementReference>NewExistingAccountIsParent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>NewEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>NewPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>NewMobile</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Account</name>
        <label>Update Original Account</label>
        <locationX>955</locationX>
        <locationY>833</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsParent__c</field>
            <value>
                <elementReference>OriginalAccountIsParent</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Account_0</name>
        <label>Update Original Account</label>
        <locationX>935</locationX>
        <locationY>553</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsParent__c</field>
            <value>
                <elementReference>OriginalAccountIsParent</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>DuplicateAccount</name>
        <label>DuplicateAccount</label>
        <locationX>551</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>{!Error}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>DuplicateAccount_0</name>
        <label>DuplicateAccount</label>
        <locationX>808</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>{!Error}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>DuplicateAccount_0_0</name>
        <label>DuplicateAccount</label>
        <locationX>819</locationX>
        <locationY>917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0_0</name>
            <fieldText>{!Error}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Exisitng_Contact_Information</name>
        <label>Exisitng Contact Information</label>
        <locationX>39</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <fields>
            <name>ExistingAccFirstName</name>
            <fieldText>First Name: {!Account.FirstName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingAccMobile</name>
            <fieldText>Mobile: {!Account.PersonMobilePhone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingAccLastName</name>
            <fieldText>Last Name: {!Account.LastName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingAccPhone</name>
            <fieldText>Phone: {!Account.PersonHomePhone}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Test</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#FFFFFF" LETTERSPACING="0" KERNING="0">Email: {!Account.PersonEmail}&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingAccEmail</name>
            <fieldText>Email: {!Account.PersonEmail}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_use_this_Contact</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to use this Contact?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FoundDupText</name>
            <fieldText>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">&lt;B>{!CountAcc} duplicate contact(s) found. Showing {!CountDupDisplay} / {!CountAcc}&lt;/B>&lt;/FONT>&lt;/DIV></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>New_Account_Contact_Relationship</name>
        <label>New Account Contact Relationship</label>
        <locationX>160</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_Parent_selected</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SelectedRelationship</name>
            <choiceReferences>Roles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please make sure the email address has the following format: sample@sample.com</errorMessage>
                <formulaExpression>REGEX({!Email},"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}")</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>GetOpportunity</startElementReference>
    <textTemplates>
        <name>DuplicateMessage</name>
        <text>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#FF0000" LETTERSPACING="0" KERNING="0">&lt;B>Unsuccessfull!&lt;/B>&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">The contact you are attempting to create is identified as a &lt;B>duplicate.&lt;/B> Return to the previous screen and either &lt;I>adapt the given information&lt;/I>, or &lt;I>select one of the existing contacts&lt;/I>. Please &lt;FONT COLOR="#0000FF">&lt;U>contact Support&lt;/U>&lt;/FONT> if you need any additional help.&lt;/FONT>&lt;/DIV></text>
    </textTemplates>
    <textTemplates>
        <name>ExistingRelationshipError</name>
        <text>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#FF0000" LETTERSPACING="0" KERNING="0">&lt;B>Unsuccessfull!&lt;/B>&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">&lt;/FONT>&lt;/DIV>&lt;DIV ALIGN="LEFT">&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0">There already exists a relationship between the selected contacts. &lt;I>Return to the previous screens&lt;/I> in case you want to make a relationship with another contact. Otherwise, &lt;I>finish this wizard and adapt the existing relationship manually&lt;/I>. Please &lt;FONT COLOR="#0000FF">&lt;U>contact Support&lt;/U>&lt;/FONT> if you need any additional help.&lt;/FONT>&lt;/DIV></text>
    </textTemplates>
    <variables>
        <name>AccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountPersonRelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CountAcc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountDupDisplay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewExistingAccountIsParent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OriginalAccountIsParent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PersonAccountRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Person Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReverseContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ReverseRoles</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
