force-app/main/default/flows/OpportunityTimeOutCalculation-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>This flow is used to calculate the date on which the Opportunity should get timed-out.</description>
    <formulas>
        <name>TimeOutFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!OpportunityTimeOutSetting.TimeOutSettingDays__c}</expression>
    </formulas>
    <interviewLabel>Opportunity Time Out Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Time Out Calculation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>73</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTimeOutSetting</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Market__c</queriedFields>
        <queriedFields>Program__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTimeOutSetting</name>
        <label>Get Time-Out Setting</label>
        <locationX>76</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOpportunityTimeOutDate</targetReference>
        </connector>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Program__c</elementReference>
            </value>
        </filters>
        <object>OpportunityTimeOutSettings__mdt</object>
        <outputReference>OpportunityTimeOutSetting</outputReference>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Program__c</queriedFields>
        <queriedFields>TimeOutSettingDays__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpportunityTimeOutDate</name>
        <label>Update Opportunity Time-Out Date</label>
        <locationX>82</locationX>
        <locationY>230</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TimeOutDate__c</field>
            <value>
                <elementReference>TimeOutFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>GetOpportunity</startElementReference>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityTimeOutSetting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTimeOutSettings__mdt</objectType>
    </variables>
</Flow>
